.app{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 127, 127, 0);
  color: green;
  padding: 20px;
  
}

.form {
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: brown;
  background-color: aqua;
  cursor: pointer;
}
.form:hover{
  background-color: blueviolet;
  transition: all 1s ease;
}